{% load static %}
{% load static tailwind_tags %}
{% load settings_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block page_title %}{% endblock %}
    {% get_settings_val 'CLIENT_NAME' %}
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% tailwind_preload_css %} {% tailwind_css %}

  <link rel="shortcut icon" href="{% static 'client-logo.png' %}" type="image/x-icon">

  {% block head %} {% endblock %}
</head>

<body>
  <nav class="p-2 bg-dirtyWhite text-black shadow-lg">
    <!-- Container -->
    <div class="container mx-auto flex justify-between align-middle">
      <!-- Left Column -->
      <a href="{% url 'resolutions:index' %}" class="flex justify-center items-center">
        <img src="{% static 'client-logo.png' %}" class="h-10 w-10 mr-2">
        <p class="text-2xl font-semibold leading-none">{% get_settings_val 'CLIENT_NAME' %}</p>
      </a>

      <!-- Right Column -->
      <div>
        {% if user.is_authenticated %}

        <div class="dropdown right on-top">
          <button class="flex justify-center items-center" data-toggle>
            <img class="avatar" src="{{ user.profile.avatar_url }}">

            <div class="mx-2 flex flex-col items-center justify-center">
              <span class="text-lg font-bold leading-tight">{{ user.username }}</span>
              <span class="text-sm leading-tight">{{ user.role_name }}</span>
            </div>

            <img src="{% static 'users/img/angle-down.svg'%}" alt="" class="icon-sm">
          </button>
          <div class="dropdown_content bg-white shadow-md rounded-lg w-64">
            <div class="menu">
              <!-- Avatar with hr -->
              <div class="relative mt-4 mb-2">
                <img class="relative avatar-lg m-auto bg-white z-10" src="{{ user.profile.avatar_url }}">
                <hr class="absolute left-0 right-0 top-1/2">
              </div>

              <div class="text-center mb-2">
                <h5>{{ user.username }}</h5>
                <small>{{ user.role_name }}</small>
              </div>

              <hr class="border-dashed my-2">

              <a href="{% url 'users:profile' %}" class="menuItem">
                <img src="{% static 'users/img/settings.svg' %}" alt="" class="icon-sm">
                <span>Settings</span>
              </a>
              <a href="{% url 'users:auth:logout' %}" class="menuItem">
                <img src="{% static 'users/img/signout.svg' %}" alt="" class="icon-sm">
                <span>Logout</span>
              </a>

              {% if user.has_admin_permission %}

              <hr class="border-dashed my-2">

              <div class="menuItem justify-between">
                <h6>Other Accounts</h6>
                <a href="{% url 'users:admin:manage' %}" class="button-image button-rounded">
                  <img src="{% static 'users/img/settings.svg' %}" alt="" class="icon-sm">
                </a>
              </div>

              {% if other_accounts %}
              {% for u in other_accounts %}
              <div class="menuItem">
                <img src="{{ u.profile.avatar_url }}" class="avatar-sm">
                <p class="ml-2">{{ u.username }}</p>
              </div>
              {% endfor %}
              {% else %}
              <p class="p-2 text-center">No Accounts</p>
              {% endif %}

              {% endif %}
            </div>
          </div>
        </div>

        {% endif %}
      </div>


    </div>
  </nav>

  <div class="container mx-auto pt-6 pb-16 px-4">
    {% block content %} {% endblock content %}
  </div>

  <script src="{% static 'resolutions/app.js' %}"></script>
</body>

</html>