{% load static %}
{% load static tailwind_tags %}
{% load settings_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block page_title %}{% endblock %}
    {% get_settings_val 'CLIENT_NAME' %}
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% tailwind_preload_css %} {% tailwind_css %}

  <link rel="shortcut icon" href="{% static 'client-logo.png' %}" type="image/x-icon">

  {% block head %} {% endblock %}
</head>

<body>
  <!-- Alerts / Messages -->
  <div class="absolute top-0 left-0 right-0 m-12 z-50">

    {% if messages %}
    <ul class="alerts">
      {% for message in messages %}
      <li class="alert alert-{{ message.tags }} flex gap-2 items-start">
        <span class="flex-grow">{{ message }}</span>

        <button data-close>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="icon-sm">
            <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path fill="currentColor"
              d="M376.6 427.5c11.31 13.58 9.484 33.75-4.094 45.06c-5.984 4.984-13.25 7.422-20.47 7.422c-9.172 0-18.27-3.922-24.59-11.52L192 305.1l-135.4 162.5c-6.328 7.594-15.42 11.52-24.59 11.52c-7.219 0-14.48-2.438-20.47-7.422c-13.58-11.31-15.41-31.48-4.094-45.06l142.9-171.5L7.422 84.5C-3.891 70.92-2.063 50.75 11.52 39.44c13.56-11.34 33.73-9.516 45.06 4.094L192 206l135.4-162.5c11.3-13.58 31.48-15.42 45.06-4.094c13.58 11.31 15.41 31.48 4.094 45.06l-142.9 171.5L376.6 427.5z" />
          </svg>
        </button>
      </li>

      {% endfor %}
    </ul>
    {% endif %}

  </div>

  <nav class="p-2 px-4 bg-dirtyWhite text-black shadow-lg">
    <!-- Container -->
    <div class="container mx-auto flex justify-between align-middle">
      <!-- Left Column -->
      <a href="{% url 'resolutions:index' %}" class="flex justify-center items-center">
        <img src="{% static 'client-logo.png' %}" class="h-10 w-10 mr-2">
        <p class="text-2xl font-semibold leading-none">{% get_settings_val 'CLIENT_NAME' %}</p>
      </a>

      <!-- Right Column -->
      <div>
        {% if user.is_authenticated %}

        <div class="dropdown right on-top">
          <button class="flex justify-center items-center" data-toggle>
            <img class="avatar mr-2" src="{{ user.profile.avatar_url }}">

            <div class="flex-col items-center justify-center mr-2 hidden sm:flex">
              <span class="text-lg font-bold leading-tight">{{ user.username }}</span>
              <span class="text-sm leading-tight">{{ user.role_name }}</span>
            </div>

            <img src="{% static 'users/img/angle-down.svg'%}" alt="" class="icon-sm">
          </button>
          <div data-toggle class="dropdown_content bg-white shadow-md rounded-lg w-64">
            <div class="menu">
              <!-- Avatar with hr -->
              <div class="relative mt-4 mb-2">
                <img class="relative avatar-lg m-auto bg-white z-10" src="{{ user.profile.avatar_url }}">
                <hr class="absolute left-0 right-0 top-1/2">
              </div>

              <div class="text-center mb-2">
                <h5>{{ user.username }}</h5>
                <small>{{ user.role_name }}</small>
              </div>

              <hr class="border-dashed my-2">

              <!-- Settings -->
              <a href="{% url 'users:profile' %}" class="menuItem">
                <img src="{% static 'users/img/settings.svg' %}" alt="" class="icon-sm">
                <span>Settings</span>
              </a>

              <!-- Logout -->
              {% if user.has_admin_permission %}
              <a href="{% url 'resolutions:db_res_import' %}" class="menuItem">
                <img src="{% static 'users/img/rotate.svg' %}" alt="" class="icon-sm">
                <span>Backup & Restore</span>
              </a>
              {% endif %}

              <!-- Logout -->
              <a href="{% url 'users:auth:logout' %}" class="menuItem">
                <img src="{% static 'users/img/signout.svg' %}" alt="" class="icon-sm">
                <span>Logout</span>
              </a>

              {% if user.has_admin_permission %}

              <hr class="border-dashed my-2">

              <a href="{% url 'users:admin:manage' %}">
                <div class="flex menuItem justify-between">
                  <h6>Other Accounts</h6>
                  <button class="button-image button-rounded">
                    <img src="{% static 'users/img/settings.svg' %}" alt="" class="icon-sm">
                  </button>
                </div>

                {% for u in other_accounts %}
                <div class="menuItem">
                  <img src="{{ u.profile.avatar_url }}" class="avatar-sm">
                  <p class="ml-2">{{ u.username }}</p>
                </div>
                {% empty %}
                <p class="p-2 text-center">No Accounts</p>
                {% endfor %}

                {% endif %}
              </a>
            </div>
          </div>
        </div>

        {% endif %}
      </div>


    </div>
  </nav>

  <div class="container mx-auto pt-6 pb-16 px-4">
    {% block content %} {% endblock content %}
  </div>

  <script src="{% static 'resolutions/app.js' %}"></script>
</body>

</html>