<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        a.button {
            background-color: black;
            font-weight: bold;
            color: white;
            padding: 0.75rem;
            display: inline-block;
            border-radius: 9999px;
            text-decoration: none;
        }

        .text-sm {
            font-size: small;
        }
    </style>
</head>

<body>
    <h1>
        Password reset for user: {{ user.get_username }}
    </h1>

    <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

    <p>Please click the button below to change password:</p>

    <p class="text-center">
        <a href="{{ protocol }}://{{ domain }}{% url 'users:auth:password_reset_confirm' uidb64=uid token=token %}"
            target="_blank" rel="noopener noreferrer" class="button">
            Reset Password
        </a>
    </p>

    <small>
        <p>Or click the link below:</p>
        <p>{{ protocol }}://{{ domain }}{% url 'users:auth:password_reset_confirm' uidb64=uid token=token %}</p>
    </small>
</body>

</html>