{% load static %}

<!-- Image Drag Drop -->
<label for="{{ input_id }}" data-drag-drop data-input-id="{{ input_id }}">
    <div class="absolute top-0 left-0 w-full h-full flex">
        <div class="m-auto text-center px-6">
            <img src="{% static 'resolutions/img/upload-solid.svg' %}" class="opacity-50 h-20 w-20 m-auto">
            <p class="pt-4">Drag image here to upload</p>
            <ul class="errors pt-2"></ul>
        </div>
    </div>

    {% if not multiple %}
    <img data-no-broken {% if preview_img %} src="{{ preview_img.url }}" {% endif %} class="preview">
    {% endif %}

    <div class="details">
        <div class="p-6">
            <h4 class="mb-4">Selected Files</h4>
            <ul class="list-disc pl-4">
                <!-- List of filenames selected injected by JS -->
            </ul>
        </div>
    </div>
</label>