@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* TODO: Apply styles here */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

/* -------------------- Globals -------------------- */

/* #region Headers */
h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-medium;
}

h6 {
  @apply text-base font-medium;
}
/* #endregion */

/* #region Text Colors */

.text-warning {
  @apply text-yellow-800;
}

.text-info {
  @apply text-blue-800;
}

/* #endregion */

/* Fix Nav Header Text Spacing */
nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  line-height: normal !important;
}

* {
  /* For Debug Only */
  /* outline:1px blue solid; */
}

*[disabled] {
  @apply opacity-50 pointer-events-none !important;
}

hr {
  @apply mb-6;
}

/* #region Icon Sizes */
.icon-sm {
  @apply h-5 w-5 min-w-fit min-h-fit;
}

.icon {
  @apply h-10 w-10 min-w-fit min-h-fit;
}

.icon-md {
  @apply h-16 w-16 min-w-fit min-h-fit;
}

.icon-lg {
  @apply h-20 w-20 min-w-fit min-h-fit;
}
/* #endregion */

/* -------------------- Components -------------------- */

/* #region Button */
/*
Use @apply then the list of all utility classes you want
for button elements and .button classed elements 
*/
.button {
  @apply inline-flex items-center justify-center py-2 px-4 font-semibold rounded-2xl shadow-md text-center focus:outline-none focus:ring-2 focus:ring-opacity-75 cursor-pointer;
  @apply text-black hover:ring-primary hover:ring-2;
  @apply no-underline !important;
  @apply transition-colors transition-shadow;
}

.button > * {
  @apply mx-1;
}

.button-image {
  @apply p-0 m-0 !important;
}

.button-rounded {
  @apply rounded-full !important;
}

.button-sm {
  @apply button;
  @apply py-2 px-3 text-sm !important;
}

.button-primary {
  @apply button;
  @apply bg-primary text-white !important;
}

.button-secondary {
  @apply button;
  @apply bg-lightPrimary text-primary !important;
}

.button-transparent-primary {
  @apply button;
  @apply bg-transparent ring-primary text-primary hover:ring-primary hover:ring-2 !important;
}

.button-danger {
  @apply button;
  @apply ring-danger ring-1 text-danger hover:ring-danger hover:ring-2 !important;
}

.button > span {
  @apply hidden lg:block;
}

/* #endregion */

/* #region Card */
.card {
  @apply rounded-2xl shadow-md border-gray hover:shadow-lg;
}
/* #endregion */

/* #region Forms */

#errorMsg,
.errorlist {
  @apply text-danger;
  @apply col-span-full;
}

form .errorField,
form .asteriskField {
  @apply text-danger;
}

form .helptext {
  @apply text-sm mt-2;
}

/* Input Container */
form > p {
  @apply col-span-full md:col-span-1 flex flex-col;
}

form > p > label {
  @apply mb-2;
}

form .hiddenField {
  position: absolute !important;
  height: 0px !important;
  overflow: hidden !important;
}

input,
select,
textarea {
  /* Remove default style */
  @apply border-0 !important;
  @apply ring-1 ring-gray focus:ring-2 focus:ring-primary rounded-2xl !important;
}

/* #endregion Forms */

/* #region Drag Drop Image */
label[data-drag-drop] {
  cursor: pointer;

  @apply bg-lightGray border-gray border-2 border-dashed;

  display: grid;
  height: 100%;
  width: 100%;

  position: relative;
}

label[data-drag-drop] > * {
  /* Stacks all elements on top of each other */
  grid-column: 1;
  grid-row: 1;
  margin: auto;
}

label[data-drag-drop] > img.preview {
  @apply absolute top-0 left-0 w-full h-full object-contain;
}

label[data-drag-drop] > .counter {
  @apply w-full h-full z-10 flex items-center justify-center;
}

label[data-drag-drop] ul.errors {
  @apply text-danger text-center font-bold;
}

/* #endregion */

/* #region Avatar */

.avatar-sm {
  @apply avatar;
  @apply icon-sm !important;
}

.avatar {
  @apply object-cover rounded-full object-top bg-white;
  @apply icon;
}

.avatar-md {
  @apply avatar;
  @apply icon-md !important;
}

.avatar-lg {
  @apply avatar;
  @apply icon-lg !important;
}

/* #endregion */

/* #region Filename Preview */

textarea[data-filename-preview] {
  opacity: 1 !important;
}

/* #endregion */

/* #region Dropdown */

.dropdown {
  @apply relative;
}

.dropdown [data-toggle] {
  @apply cursor-pointer;
}

.dropdown > .dropdown_content {
  @apply cursor-pointer;

  left: 0;
  right: unset;
}

.dropdown.right > .dropdown_content {
  left: unset;
  right: 0;
}

.dropdown.on-top > .dropdown_content {
  top: 0;
}

.dropdown > .dropdown_content {
  /* Animation */
  @apply absolute;
  @apply opacity-0 transition-opacity;
  @apply invisible;
}

.dropdown > .dropdown_content.active {
  @apply opacity-100 !important;
  @apply visible !important;
}

.menu > .menuItem {
  @apply flex flex-row items-center px-4 py-2;
}

.menu > .menuItem > :not(:first-child) {
  @apply ml-2;
}

/* #endregion */

/* #region Table */
table.table-dashed > tbody tr {
  @apply border-b border-dashed border-gray;
}
/* #endregion */
