{% extends 'base.html' %}

{% block content %}

<h1>Update Password for {{ user.username }}</h1>

<form method="POST">
    {% csrf_token %}

    <ul class="text-danger">
        {% for err in errors %}
        <li>{{ err }}</li>
        {% endfor %}
    </ul>

    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password">

    <label for="id_confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="id_confirm_password">

    <button type="submit" class="button-primary">Update Password</button>
    <a href="{% url 'users:admin:manage' %}" class="button">Cancel</a>
</form>

{% endblock content %}