{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="grid grid-cols-3 gap-6 items-center">
    <div class="col-span-3 lg:col-span-1">
        <h1>SETTINGS</h1>
        <hr>

        <!-- Links -->
        <div
            class="flex flex-row lg:flex-col lg:p-10 lg:my-10 py-5 items-stretch justify-evenly gap-6 border-b lg:border-b-0 lg:border-r">
            <a href="{% url 'users:profile' %}" class="button-transparent-primary">Settings</a>
            <a href="{% url 'users:profile_change_password' %}" class="button-primary">Change Password</a>
        </div>
    </div>

    <div class="col-span-3 lg:col-span-2">
        <div class="card p-6 lg:p-12 lg:m-12">
            <h1 class="mb-4">Change Password</h1>

            <form method="POST" class="grid grid-cols-1 gap-2">
                {% csrf_token %}

                {{ password_form.as_p }}

                <div class="col-span-1 text-right mt-2">
                    <button type="submit" value="change_password" class="button-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}