{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="grid grid-cols-3 gap-6 items-center">
    <div class="col-span-3 lg:col-span-1">
        {% include 'users/components/settings_sidebar.html' with active='change_password' %}
    </div>

    <div class="col-span-3 lg:col-span-2">
        <div class="card p-6 lg:p-12 lg:m-12">
            <h1 class="mb-4">Change Password</h1>

            <form method="POST" class="grid grid-cols-1 gap-2">
                {% csrf_token %}

                {{ password_form.as_p }}

                <div class="col-span-1 flex justify-end items-center gap-2 pt-2">
                    <a href="{% url 'users:auth:password_reset' %}" class="underline text-sm">Forgot your Password?</a>
                    <button type="submit" value="change_password" class="button-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}