{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>{{ certificate }}</h2>
<hr>

<div class="grid grid-cols-6 gap-6">
    <div class="card p-6 col-span-full md:col-span-4">
        <div class="relative">
            <a href="{% url 'resolutions:index' %}"
                class="button-danger button-rounded absolute top-4 right-4 invisible md:visible">X</a>

            {% for img in certificate.images %}
            <a href="{{ img.image.url }}" target="_blank">
                <img id="img-{{ img.image.name }}" src="{{ img.image.url }}" alt="{{ img.image.name }}" class="w-full">
            </a>
            {% empty %}
            <div class="flex h-full w-full">
                <h4 class="m-auto py-32">
                    No Images.
                    <a href="{% url 'resolutions:cert_edit' certificate.pk %}" class="underline">Add one.</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="bg-white col-span-full md:col-span-2 relative">
        <div class="sticky top-0 py-6">
            <div class="flex justify-between items-center">
                <h4>Includes:</h4>
            </div>

            <table class="w-full table-dashed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>BRN</th>
                    </tr>
                </thead>

                <tbody>
                    {% for res in certificate.resolutions %}
                    <tr>
                        <td>{{ res.title }}</td>
                        <td class="text-center">{{ res.number }}</td>
                    </tr>
                    {% empty %}
                    <p class="text-center">No Resolutions.</p>
                    {% endfor %}
                </tbody>
            </table>

            <p class="py-4">
                <strong>Date Approved:</strong>
                <span>{{ certificate.date_approved }}</span>
            </p>

            <p>
                <label for="id_remarks" class="block mb-2">Remarks:</label>
                <textarea id="id_remarks" cols="30" rows="7" class="w-full"
                    readonly>{{ certificate.remarks }}</textarea>
            </p>
        </div>

        <div class="fixed bottom-6 right-6">
            <div class="flex flex-col gap-2">

                {% if user.has_export_permissions and certificate.images %}
                <a href="{% url 'resolutions:cert_export' certificate.pk %}" class="button-primary">
                    <img src="{% static 'users/img/export.png' %}" alt="Edit" class="icon-sm">
                    <span>Export to PDF</span>
                </a>
                {% endif %}

                <a href="{% url 'resolutions:cert_edit' certificate.pk %}" class="button">
                    <img src="{% static 'users/img/edit.png' %}" alt="Edit" class="icon-sm">
                    <span>Edit File</span>
                </a>

                <a href="{% url 'resolutions:cert_delete' certificate.pk %}" class="button-danger">
                    <img src="{% static 'users/img/trash.png' %}" alt="Delete" class="icon-sm">
                    <span>Delete File</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}