{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card p-12">

    <div class="text-center">
        <h3>Delete Certificate Image?</h3>
        <p>Are you sure you want to delete this image from {{ certificate_image.certificate }}?</p>
    </div>

    <img src="{{ certificate_image.image.url }}" alt="{{ certificate_image.image.name }}" class="w-full">

    <p class="text-center">
        <span>{{ certificate_image.image.name }}</span> <br>
        <small>{{ certificate_image.image.size|filesizeformat }}</small>
    </p>

    <form method="POST" class="text-center pt-4">
        {% csrf_token %}
        <button type="button" onclick="history.back()" class="button-transparent-primary">Cancel</button>
        <button type="submit" class="button-danger ml-2">Confirm</button>
    </form>
</div>

{% endblock %}