{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card p-6 lg:p-12">

    <div class="text-center">
        <h3>Delete Resolution No. {{ resolution.number }}?</h3>
        <p>Are you sure you want to delete this resolution?</p>
    </div>

    <ul class="mt-2 text-center">
        <li>
            <strong>Resolution No. </strong>
            <span>{{ resolution.number }}</span>
        </li>
        <li>
            <strong>Title: </strong>
            <span>{{ resolution.title }}</span>
        </li>
    </ul>

    {% if is_last_resolution %}
    <div class="bg-lightDanger border-l-2 border-l-danger p-6 my-4">
        <div class="flex items-center mb-2">
            <img src="{% static 'users/img/warning.png' %}" alt="" class="icon-sm">
            <h3 class="ml-2">Warning!</h3>
        </div>

        <ul class="list-disc ml-4">
            <li>
                This is the <strong>last resolution</strong> within
                <a href="{% url 'resolutions:cert_detail' resolution.certificate.pk %}" class="underline font-bold">
                    {{ resolution.certificate }}
                    (Approved on: {{ resolution.certificate.date_approved }})
                </a>
            </li>
            <li>By deleting this resolution, the certificate will also be deleted (along with its images).</li>
            <li>This operation cannot be undone.</li>
        </ul>

    </div>
    {% endif %}

    <form method="POST" class="text-center pt-4">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}">

        <button type="button" onclick="history.back()" class="button-transparent-primary">Cancel</button>
        <button type="submit" class="button-danger ml-2">Confirm</button>
    </form>
</div>

{% endblock %}