{% extends 'base.html' %}

{% block content %}

<div class="card p-6 lg:p-12">

    <h1>Change Password</h1>
    <h5>{{ selected_user.str_username }} <br> {{ selected_user.email }}</h5>
    <hr>

    <form method="POST" class="grid grid-cols-2 gap-6">
        {% csrf_token %}

        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password">
        </p>

        <p>
            <label for="id_confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="id_confirm_password">
        </p>

        <div class="col-span-2 text-right">
            <button type="submit" class="button-primary m-1">Update Password</button>
            <a href="{% url 'users:admin:manage' %}" class="button-danger m-1">Cancel</a>
        </div>

        <ul class="col-span-2 text-danger">
            {% for err in errors %}
            <li>{{ err }}</li>
            {% endfor %}
        </ul>
    </form>

</div>

{% endblock content %}