{% extends 'base.html' %}

{% load static %}

{% block content %}

<a href="{% url 'users:admin:user_create' %}" class="button-primary">Add User</a>

<h1>Manage Users</h1>

{% if users %}
<table class="w-full">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>
                <img class="avatar-sm" {% if u.profile.avatar %} src="{{ u.profile.avatar.url }}"
                    {% else %} src="{% static 'users/img/user-solid.svg' %}" {% endif %}>
            </td>
            <td>{{ u.username }}</td>
            <td>{{ u.profile.full_name }}</td>
            <td>{{ u.email }}</td>
            <td>
                <a href="{% url 'users:admin:user_change_password' u.id %}" class="button">Change Password</a>
                <a href="{% url 'users:admin:user_delete' u.id %}" class="button-danger">Delete</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>

</table>
{% else %}
<p>No Users</p>
{% endif %}

{% endblock content %}