{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class="card p-12">
    <div class="flex justify-between items-center">
        <div>
            <h1>Edit Staff</h1>
            <h4>{{ selected_user.str_username }}</h4>
        </div>

        <div>
            <a href="{% url 'users:admin:user_change_password' selected_user.id %}" class="button button-sm m-1">
                Change Password
            </a>
        </div>
    </div>


    <hr>

    <form method="POST" class="grid grid-cols-2 gap-6">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="col-span-2 text-right">
            <button type="submit" class="button-primary">Confirm</button>
            <a href="{% url 'users:admin:manage' %}" class="button-danger ml-2">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}