{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Settings</h1>
<hr>

<!-- Links -->
<a href="{% url 'users:profile' %}" class="button-primary">Settings</a>
<a href="{% url 'users:profile_change_password' %}" class="button-primary">Change Password</a>

<!-- Avatar -->
<img data-image-preview data-input-id="id_avatar" class="avatar" src="{{ user.profile.avatar_url }}">

<form action="{% url 'users:profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="update_avatar">

    <label for="id_avatar" class="button">Select New Image</label>
    <input type="file" name="avatar" id="id_avatar" class="hidden" accept="image/*">
    <button type="submit" class="button-primary">Apply</button>
</form>

<form action="{% url 'users:profile' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="remove_avatar">

    <button type="submit" class="button-danger">Remove</button>
</form>

<hr />

<p>{{ user.email }}</p>
<p>@{{ user.username }}</p>
<p>{{ user.role_name }}</p>

<form action="{% url 'users:profile' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="update_profile">

    {{ profile_form }}

    <button type="submit" class="button-primary">Save</button>
</form>

{% endblock content %}